
.materialUploading {
    .clearfix{
        width: 1050px;
        float: left;
        :global{
           
            .ant-upload.ant-upload-select-picture-card{
                width: 250px;
                height: 200px;    
            }
            .ant-upload-list-picture-card-container{
                width: 250px;
                height: 200px;
            }
            .ant-upload-list-picture-card .ant-upload-list-item{
                width: 250px;
                height: 200px;
            }
            
        }
    }
    .worksDetails{
        width: 350px;
        float:right;

        :global{
            .ant-form-item{
                margin-bottom:0px;
            }
            .ant-form-item-label{
                line-height: 20px;
            }
            .ant-tabs-tab{
                font-size:12px;
                margin: 0;

            }
        }
        .button{
            margin-top: 40px;
            :global{
                .ant-btn{
                    width: 160px;
                    height: 50px;
                    margin-left: 15px;
                }
            }
        }
        .inputPut{
            :global{
                .ant-input:nth-child(1) {
                    width: 150px;
                    float: left;
                }
                .ant-input:nth-child(2) {
                    width: 150px;
                    float:right
                    
                }
            }
        }

        .keyword{
            .keywordSpan{
                padding-right: 5px;
            }
        }

       

        .information{
            .author{
                .float{
                    
                }
                .right{
                    color: #ccc;
                }
            }
        }
    }
}