.shopItemBox {
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
    .shopKeepItemBox {
        width: 100%;
        display: flex;
        background-color: #F2F3F4;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        color: #000000;
        margin: 15px 0;
        .leftBox {
            display: flex;
            align-items: center;
            .shopAvater {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 1px solid red;
            }
            .shopBox {
                display: flex;
                flex-direction: column;
                font-size: 16px;
                margin-left: 30px;
                letter-spacing: 1px;
                .musicName {
                    font-size: 20px;
                    margin-bottom: 10px;
                    letter-spacing: normal;
                }
            }
            .interShop {
                padding: 8px 65px;
                font-size: 18px;
                background-color: #E62129;
                color: #ffffff;
                border-radius: 25px;
                margin-right: 10px;
            }
            .downShow {
                width: 18px;
                height: 10px;
                margin: 0 10px;
            }
        }
        .audioBox {
            width: 300px;
            border: 1px solid red;
        }
        .iconBox {
            display: flex;
            justify-content: space-between;
            .iconImg {
                width: 40px;
                height: 40px;
                background-color: #ffffff;
                border-radius: 5px;
                margin-right: 10px;
                overflow: hidden;
            }
        }
    }
}
.hideShopBox {
    width: 100%;
    padding: 10px 2%;
    display: flex;
    background-color: #F2F3F4;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    .shopTypeBox {
        width: 82%;
        display: flex;
        .musicIntroduce {
            width: 300px;
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            margin-top: 15px;
            .introduceContent {
                margin-top: 20px;
            }
        }
        .musicStyleBox {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            .introTopBox {
                display: flex;
                justify-content: space-between;
            }
            .introBottompBox {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                .keyWordBox {
                    display: flex;
                    margin-top: 10px;
                    .keyWord {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    .shopInfoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .leftBox {
            display: flex;
            align-items: center;
            .shopAvater {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid red;
            }
            .shopBox {
                display: flex;
                flex-direction: column;
                font-size: 16px;
                margin-left: 15px;
                letter-spacing: 1px;
                .followShop {
                    width: 40px;
                    background-color: #E62129;
                    color: #ffffff;
                    font-size: 14px;
                    border-radius: 3px;
                    margin-bottom: 5px;
                    text-align: center;
                    letter-spacing: normal;
                }
            }
        }
        .honor {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            margin-top: 8px;
        }
    }
}